body {
    font-family: Arial, Helvetica, sans-serif;
}

#messages{
    display:flex;
    flex-direction: column;
    width: 75vw;
    margin-left: 0;
    /* border: 1px red dotted; */
}

.messageBox{
    background: rgba(255,255,255,1);
    height: 50px;
    width: inherit;
    line-height: 50px;
    list-style: none;
    border-bottom: 1px rgba(0,0,0,0.2) solid;
    display:flex;
    flex-direction: row;
    position:relative;
}

#headerBox {
    background: rgba(255,255,255,1);
    height: 50px;
    width: inherit;
    line-height: 50px;
    list-style: none;
    border-bottom: 1px rgba(0,0,0,0.2) solid;
    display:flex;
    flex-direction: row;
}

.messageBox:hover{
    background: rgba(255,255,255,0.5);
    box-shadow: 0px 0px 10px 1px rgba(150,150,150,0.5);
    z-index: 999;
}

.far {
    line-height:inherit!important;   
    vertical-align:middle;
    margin-left: 20px;
}

.fas {
    line-height:inherit!important;   
    vertical-align:middle;
    margin-left: 20px;
}

.fa-inbox {
    margin-left:auto;
    margin-right: 20px;
}
.messageBox span {
    vertical-align: middle;
    padding-left: 20px;
    /* border: 1px red dotted; */
    margin:none;
    flex-wrap: nowrap;
    overflow:hidden;
}

.sender {
    width: 15%;
}
.subject {
    width: 25%;
}

.body {
    width:45%;
    flex-wrap:wrap;
    overflow: visible;
    height: auto;
}

.date {
    width:15%;
    text-align:right;
}

input {
    width: 500px;
    height:40px;
    margin-left: 100px;
    border-radius: 5px;
    background-color: rgba(150,150,150,0.1);
    border-style: none;
    padding-left:10px;
    font-size: 18px;
}

#header content{
    height: 75px;
    line-height: 75px;
}

#sidebar {
    display: inline-block;
    /* border: 1px red dotted; */
    vertical-align: top;
    margin-top:25px;
    width: 200px;
    margin-right: 0;
}

#sidebar nav {
    list-style: none;
    line-height: 40px;
    width:100%;
    /* border: 1px red dotted; */
}

#header {
    border-bottom: rgba(0,0,0,.1) solid 1px;
    padding-bottom: 10px;
}

.navBar:hover {
    background: rgba(255, 0, 0, 0.377);
    width: 100%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.navBar {
    padding-left:30px;
}