body {
    font-family: Arial, Helvetica, sans-serif;
}

#messages{
    display:flex;
    flex-direction: column;
    width: 75vw;
}

.messageBox{
    background: rgba(255,255,255,1);
    height: 50px;
    width: inherit;
    line-height: 50px;
    list-style: none;
    border-bottom: 1px rgba(0,0,0,0.2) solid;
    display:flex;
    flex-direction: row;
}

#headerBox {
    background: rgba(255,255,255,1);
    height: 50px;
    width: inherit;
    line-height: 50px;
    list-style: none;
    border-bottom: 1px rgba(0,0,0,0.2) solid;
    display:flex;
    flex-direction: row;
}

.messageBox:hover{
    background: rgba(255,255,255,0.5);
    box-shadow: transparent;
}

.far {
    line-height:inherit!important;   
    vertical-align:middle;
    margin-left: 20px;
}

.fas {
    line-height:inherit!important;   
    vertical-align:middle;
    margin-left: 20px;
}

.fa-inbox {
    margin-left:auto;
    margin-right: 20px;
}
.messageBox span {
    vertical-align: middle;
    padding-left: 20px;
    /* border: 1px red dotted; */
    margin:none;
    flex-wrap: nowrap;
    overflow:hidden;
}

.sender {
    width: 15%;
}
.subject {
    width: 25%;
}

.body {
    width:45%;
    flex-wrap:wrap;
    overflow: visible;
    height: auto;
}

.date {
    width:15%;
    text-align:right;
}

input {
    width: 500px;
    height:40px;
    margin-left: 100px;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.1);
    border-style: none;
    padding-left:10px;
    font-size: 18px;
}

#header content{
    height: 75px;
    line-height: 75px;
    border-bottom: rgba(0,0,0,0.1) solid 1px;
}